<%- include ../partials/header.ejs %>

<%- include ../partials/main_nav.ejs %>

<!-- Main Content -->

<main class="container">

  <div class="row">

    <div class="col-md-offset-3 col-md-10"> 
      <h1><%= title %></h1>
      <a href="/snacks-list/add" class="btn btn-primary" role="button">
        <i class="fas fa-plus-circle"></i> Add a Snack
      </a>
      <br>
      <br>

  <table class="table table-bo e-bordered table-striped table-hover"> 
  <tr class = "d-flex">

      <th class="text-center col-2">name</th>

      <th class="text-center col-2">producer</th>

      <th class="text-center col-1">Founded</th>

      <th class="text-center col-5">description</th>

      <th class="text-center col-1">price</th>

      <th class="text-center col-1"></th>
      <th class="text-center col-1"></th>

  </tr>

<!-- Repeat the template -->

  <% for (let count=0; count <Snacklist.length; count  ) { %>

        <tr class="d-flex">

            <td class="text-center col-2"><%= Snacklist[count].name %></td>

            <td class="text-center col-2"><%= Snacklist[count].producer %></td>



            <td class="text-center col-1"><%= Snacklist[count].Founded %></td>

            <td class="text-center col-5"><%= Snacklist[count].description %></td>


            <td class="text-center col-1"><%= Snacklist [count].price %></td>
            <td class="text-center col-1">
                <a href="/snacks-list/edit/<% = Snacklist[count]._id %>"
                    class="btn btn-primary"
                    <i class="fa-solid fa-cookie-bite"></i>Edit </a>
              </td>
              <td class="text-center col-1">
                <a href="/snacks-list/delete/<% = Snacklist[count]._id %>"
                    class="btn btn-danger"
                    <i class="fas fa-trash-alt"></i>Delete </a>
              </td>
            


        </tr>


    <% } %>

    </table>

</div>
</div>



</main>

<%- include ../partials/bottom_nav.ejs %>

<%- include ../partials/footer.ejs %>
